/* Formulario de reserva de cita*/


.col-formulario {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 40px 0px 120px 0px;


}

.col-formulario input {

	margin-right: 120px;
	border: 1px solid black;
	padding: 10px;
	background-color: #d2acc2;


}

.col-formulario label {


	font-size: 20px;
	font-weight: 600;

}


.col-formulario select {


	border: 1px solid black;
	padding: 10px;
	background-color: #d2acc2;

}

.col-formulario option {


	border: 1px solid black;
	padding: 10px;
	background-color: #d2acc2;

}


.fila-formulario {

	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: left;



}

.fondo-form {

	background-image: url("/img/fondo-estilo.jpg");
	background-repeat: no-repeat;
	background-size: auto;


}





.form-style-3 {
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-3 label {
	display: block;
	margin-bottom: 10px;
}

.form-style-3 label>span {
	float: left;
	width: 100px;
	color: #aa004a;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
	margin: 0px 0px 10px 0px;
	border: 2px solid #aa004a;
	padding: 25px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}

.form-style-3 fieldset legend {
	color: #aa004a;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow: -0px -1px 2px #F1F1F1;
	-webkit-box-shadow: -0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 18px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=file],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea {
	border: 1px solid #aa004a;
	outline: none;
	color: #000000;
	padding: 8px 8px 8px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width: 50%;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button] {
	background: #FFD5E7;
	border: 1px solid #aa004a;
	padding: 5px 15px 5px 15px;
	color: #aa004a;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	font-weight: bold;
}

.required {
	color: red;
	font-weight: normal;
}


.titulo-formulario {

	display: flex;
	flex-direction: row;
	text-align: center;
	margin-top: 20px;


}

.titulo-formulario h1 {

	text-decoration: underline;
	color: black;
	font-size: 34px;

}